body{
	padding: 0;
	margin: 0;
}

#menu{
	height: 59px;
}

.navbar-inverse .navbar-toggler{
	border-color: white;
}

.navbar-brand{
	color: white;
	border: 1px transparent solid;
}

.navbar-brand:hover{
	border-bottom: 1px white solid;
	color: white;
}
.fixed-top{
	background-color: #333333;
}
.menuItens .nav-item .nav-link{
	color: white;
}

.menuItens .nav-item{
	border-bottom: 1px transparent solid;
	margin-right: 3%;
}

.menuItens .nav-item:hover{
	border-bottom: 1px white solid;
}

.loginItens .nav-item .nav-link{
	color: white;
}

.loginItens .nav-item{
	border-bottom: 1px transparent solid;
	
}

.loginItens .nav-item:hover{
	border-bottom: 1px white solid;
}

.loginimg{
	height: 40px;
	width: 40px;
}

.collapse .loginItens{
	margin-right: 3%;
}

.buscar .btn{
	color: white;
	border-color: white;
}

.buscar .btn:hover{
	color: white;
	border-color: black;
	background-color: transparent;
}

.banner{
	background-image: url(../imgs/banner2.jpg);
	height: 616px;
}

.ti{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px;
	margin-top: 17%;
}

.subti{
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px;
}

.seta{
	text-align: center;
}

#seta{
	height: 100px;
	width: 100px;
	margin-top: 10%;
}

#destaques{
	background-color: whitesmoke;
	min-height: 200px;
}

#destaques .row .destaques{
	margin-top: 2%;
	margin-bottom: 2%;
}

.destaques .rounded-circle{
	margin-bottom: 3%;
	border-radius: 0;	
}

.destaques h3{
	text-align: center;
	color: black;
	margin-top: 5%;
}

.destaques p{
	text-align: center;
	color: black;
	margin-top: 2%; 
}
 
.destaque{
	text-align: center;
	margin: 4% 0 3% 0;
}

.destaque .btn-secondary{
	background-color: #444444;
	color: white;
	border: white;
}

.destaque .btn-secondary:hover{
	background-color: #222222;
}

.rodape{
	background-color: #545454;
	height: 110px;
}

.rodape .row .pe{
	color: #999999;
	text-align: center;
	margin-top: 3%;
	font-size: 14pt;
}